<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <title>Novo Produto - Controle de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container"> <!-- Reaproveitando o estilo do login -->
        <form action="{{ url_for('cadastrar_produto') }}" method="POST" class="login-form">
            <h2>Registar Novo Produto</h2>
            <input type="text" name="nome" placeholder="Nome do Produto (Obrigatório)" required>
            <input type="text" name="categoria" placeholder="Categoria (ex: Limpeza)">
            <input type="number" step="0.01" name="preco" placeholder="Preço Unitário" required>
            <input type="number" step="0.1" name="quantidade_minima" placeholder="Quantidade Mínima de Alerta" required>
            <input type="number" step="0.1" name="quantidade_atual" placeholder="Quantidade Inicial" required>
            <button type="submit" class="login-button">Cadastrar Produto</button>
            <a href="{{ url_for('dashboard') }}" class="link-voltar">Voltar ao Painel</a>
        </form>
    </div>
</body>
</html>